@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
  --brand: #04d9c0;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Barlow', sans-serif;
  color: var(--body);
  line-height: 1.7;
}
.nav__el,
.nav__el:link,
.nav__el:visited {
    color: #444;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.nav__el:hover,
.nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
}

.nav__el:not(:last-child) {
    margin-right:3rem;
}

@media only screen and (max-width: 37.5em) {
    .nav__el:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

/* @media (min-width: 768px) {
  .card img {
    height: 11em;
  }
} */

.nav__el:focus {
    outline: none;
}

.nav__el--cta {
    padding: 0.4rem 1.2rem;
    border-radius: 10rem;
    border: 1px solid currentColor !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav__el--cta:hover {
    background-color: #f7f7f7;
    color: #777;
    text-shadow: none;
    border-color: #f7f7f7;
}
.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}



h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
  color: var(--dark);
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* .navbar {
  box-shadow: 1px 0 0 2px rgba(0, 0, 0, 0.1);
} */

.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}

img {
  width: 100%;
}

.container-fluid{
  width: 500px;
  height: 50px;
  background-color: #04d9c0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.container-fluid i{
  font-size: 20px;
  color: #f7f7f7;
  transform: translateY(20%);
  border: none;
  outline: none;
}

.container-fluid .btn:active{
  background-color: #04d9c0;
  border:none;
  outline: none;
}

.container-fluid input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #f7f7f7;
  background-color: #04d9c0;
}

.navbar-brand img {
  height: 4rem;
}

.nav-link.active {
  color: #04d9c0 !important;
}
.nav-link:hover {
  color: #04d9c0 !important;
}

.btn-button:hover {
  background-color: black;
}

a {
  color: var(--dark);
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: var(--brand);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-brand {
  color: var(--brand) !important;
}

.hero-slider .owl-next {
  background-color: #04d9c0 !important;
  width: 60px !important;
  height: 60px !important;
  display: block;
  display: grid;
  place-items: center;
  color: white !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 100px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 12px !important;
  transition: transform 50000s ease;
  margin-top: -30px !important;
}

.hero-slider .owl-prev {
  background-color: #2b444c !important;
  width: 60px !important;
  height: 60px !important;
  display: block;
  display: grid;
  place-items: center;
  color: white !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 100px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 12px !important;
  transition: transform 3.3 ease;
  margin-top: -30px !important;
}

.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

.owl-dot.active span {
  background-color: var(--brand) !important;
}

/* slide */
.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Slide1 */

.slide1 .row .col-md-7{
  padding: 22vmin 1vmin;
  padding-bottom: 20vmin;
}

.slide1 .row .col-md-5 img{
  width: 105%;
  height: 90%;
}

.slide1 .container .col-md-7 h6{
  padding: 1vmin;
  letter-spacing: 4px;
}

.slide1 .container .col-md-7 h1{
  padding: 0.1em 0em;
  font-size: 8vmins;
}

/* Slide2 */
.slide2 .row .col-md-7{
  padding: 22vmin 1vmin;
  padding-bottom: 20vmin;
}

.slide2 .row .col-md-5{
  padding-top: 15vmin;
  width: 100%;
  height: 50%;
}

.slide2 .container .col-md-7 h1{
  padding: 1vmin;
  letter-spacing: 4px;
}

.slide2 .container .col-md-7 .row .col-6{
  padding: 0.1em 0em;
  font-size: 8vmins;
}

/* Slide3 */

.slide3 .row .col-md-7{
  padding: 22vmin 1vmin;
  padding-bottom: 20vmin;
}

.slide3 .row .col-md-5 img{
  width: 100%;
  height: 80%;
}

.slide3 .container .col-md-7 h1{
  padding: 1vmin;
  letter-spacing: 4px;
}

/* .slide3 .container .col-md-7 h2{
  padding: 0.1em 0em;
  font-size: 8vmins;
} */

.button{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.btn-work:hover {
  background-color: #04d9c0;
}

.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}

.btn-todo:hover {
  color: #04d9c0;
}

/* navbar */
.top-nav {
  background-color: var(--brand);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
}

.navbar {
  box-shadow: var(--shadow);
}

.navbar .navbar-nav .nav-link {
  color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand .dot {
  color: var(--brand);
}

.btn {
  padding: 8px 26px;
}
.btn-brand {
  border-color: var(--brand);
  background-color: var(--brand);
  color: #fff;
}

.btn-brand:hover {
  background-color: #04d9c0;
  border-color: #04d9c0;
  color: black;
}

.line-1{
  box-shadow: 0 0 0 1px rgba(22, 22, 26, 0.18);
}

/* Service */
.bxs-bulb{
  height: 70px;
  width: 70px;
  background-color: #04d9c0;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.bxs-bed{
  height: 70px;
  width: 70px;
  background-color: #04d9c0;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.bxs-wrench{
  height: 70px;
  width: 70px;
  background-color: #04d9c0;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.bxs-building-house{
  height: 70px;
  width: 70px;
  background-color: #04d9c0;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.intro {
  margin-bottom: 36px;
  text-align: center;
}

.intro p {
  max-width: 500px;
}
.intro h6 {
  color: var(--brand);
  font-weight: 400;
  text-transform: uppercase;
}

.intro h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-box {
  align-items: center;
  display: flex;
}

.info-box img {
  width: 90px;
}

.service {
  padding: 32px;
  background-color: #fff;
  /* box-shadow: var(--shadow); */
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
}

.service img {
  width: 90px;
}

/* Today's Task */

.carousel-inner {
  padding: 1em;
}
.carousel{
  box-shadow: none;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-next {
  background-color: #04d9c0;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev{
  background-color: #092032;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

/* Today's task Exit */

/* Update btn */
.btn-update{
  background-color: #04d9c0;
  padding: 11px 18px;
  font-size: 13px;
  border-radius: 10px;
  color: white;
}

.btn-update:hover{
  color: white;
  font-size: 15px;
}
/* Update btn exit*/

/* Button Show more */

.btn-show{
  background-color: #04d9c0;
  padding: 15px 18px;
  font-size: 15px;
  border-radius: 10px;
  color: white;
}

.btn-show:hover{
  color: white;
  font-size: 17px;
}

/* Button Show more exit */


.blog-post {
  position: relative;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.blog-post .content {
  padding: 32px;
}

.blog-post a {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--brand);
  padding: 2px 12px;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
}

.blog-post h5 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog-post small {
  text-transform: uppercase;
  color: var(--brand);
  text-decoration: underline;
}

.footer-section {
  background-color: #04d9c0;
  position: relative;
  overflow: hidden;
  z-index: 9;
  max-height: 50rem;
}

.footer-top {
  padding-top: 50px;
  padding-bottom: 5px;
}
.footer-top p,
.company-footer-contact-list li {
  color: #ffffff;
}
.company-footer-contact-list {
  margin-top: 10px;
}
.company-footer-contact-list li {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.company-footer-contact-list li + li {
  margin-top: 5px;
}
.company-footer-contact-list li i {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.footer-top .site-logo {
  margin-bottom: 25px;
  display: block;
  max-width: 170px;
}
.widget-title {
  text-transform: capitalize;
}
.footer-top .widget-title {
  color: #ffffff;
  margin-bottom: 40px;
}
.courses-link-list li + li {
  margin-top: 10px;
}
.courses-link-list li{
  color: #ffffff;
  text-transform: capitalize;
  font-family: var(--para-font);
  font-weight: 400;
}
.courses-link-list li a:hover {
  color: #ffb606;
}
.courses-link-list li i {
  margin-right: 5px;
}

.widget a {
  color: white;
  text-decoration: none;
}

.loader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
}
