table {
    padding-right: 10%;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    font-size: large;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Add responsive styles */
@media (max-width: 768px) {
    /* Hide the table headers */
    thead {
        display: none;
    }

    /* Make each table row into a block element */
    tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    /* Add styles to each table cell */
    tbody td:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        width: 100px;
    }

    tbody td {
        display: block;
        text-align: right;
        padding-left: 100px;
        margin-bottom: 10px;
    }
}