@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
  --brand: #04d9c0;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Barlow', sans-serif;
  color: var(--body);
  line-height: 1.7;
}
.nav__el,
.nav__el:link,
.nav__el:visited {
    color: #444;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.nav__el:hover,
.nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
}

.nav__el:not(:last-child) {
    margin-right:3rem;
}

@media only screen and (max-width: 37.5em) {
    .nav__el:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.2rem;
    }
}

.nav__el:focus {
    outline: none;
}

.nav__el--cta {
    padding: 0.4rem 1.2rem;
    border-radius: 10rem;
    border: 1px solid currentColor !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav__el--cta:hover {
    background-color: #f7f7f7;
    color: #777;
    text-shadow: none;
    border-color: #f7f7f7;
}
.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}



h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
  color: var(--dark);
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* .navbar {
  box-shadow: 1px 0 0 2px rgba(0, 0, 0, 0.1);
} */

.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}

img {
  width: 100%;
}

.container-fluid{
  width: 500px;
  height: 50px;
  background-color: #04d9c0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.container-fluid i{
  font-size: 20px;
  color: #f7f7f7;
  transform: translateY(20%);
  border: none;
  outline: none;
}

.container-fluid .btn:active{
  background-color: #04d9c0;
  border:none;
  outline: none;
}

.container-fluid input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #f7f7f7;
  background-color: #04d9c0;
}

.navbar-brand img {
  height: 4rem;
}

.nav-link.active {
  color: #04d9c0 !important;
}
.nav-link:hover {
  color: #04d9c0 !important;
}

.btn-button:hover {
  background-color: black;
}

a {
  color: var(--dark);
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: var(--brand);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-brand {
  color: var(--brand) !important;
}

.top-nav {
  background-color: var(--brand);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
}

.navbar {
  box-shadow: var(--shadow);
}

.navbar .navbar-nav .nav-link {
  color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand .dot {
  color: var(--brand);
}

/* Content */
.hero{
    width: 70%;
    height: 1000px;
    position: relative;
    margin: 30px auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    box-sizing: content-box;
}

.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

#content1{
    transform: translateX(0px);
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 2px;
    background: #eee;
    margin-top: 17px;
}
.d-grid button{
    background-color: #2B444C;
    color: white;
}
.d-flex p{
    font-size: 20px;
    color: #2B444C;
}
.text-center button{
    background-color: #2B444C;
    color: white;
}

#btn1{
    color: #04d9c0;
}


/* Content exit*/
